{{!-- Для подсвечивания активной вкладки, принимаем буалены из роутов --}}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/logo.png" style="max-height: none;" width="300px">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {{#if isCourses}}
      <a class="navbar-item active" href="/courses">Главная</a>
      {{else}}
      <a class="navbar-item" href="/courses">Главная</a>
      {{/if}}

      {{#if isAuth}}
      {{#if isAdd}}
      <a class="navbar-item active" href="/add">Добавить курс</a>
      {{else}}
      <a class="navbar-item" href="/add">Добавить курс</a>
      {{/if}}

      {{#if isProfile}}
      <a class="navbar-item active" href="/profile">Профиль</a>
      {{else}}
      <a class="navbar-item" href="/profile">Профиль</a>
      {{/if}}

      {{#if isCart}}
      <a class="navbar-item active" href="/cart">Корзина</a>
      {{else}}
      <a class="navbar-item" href="/cart">Корзина</a>
      {{/if}}

      {{#if isOrder}}
      <a class="navbar-item active" href="/orders">Заказы</a>
      {{else}}
      <a class="navbar-item" href="/orders">Заказы</a>
      {{/if}}
      <div class="navbar-end" style="position: absolute; right:0px">
        <div class="navbar-item">
          <div class="buttons">
            <a style="width: 100px;" class="button is-danger" href="/auth/logout">
              Log out
            </a>
          </div>
        </div>
      </div>
      {{else}}

    </div>
    {{#if isLogin}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark" href="/auth/login">
            Log in
          </a>
          <a class="button is-dark" href="/auth/register">
            Sign up
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark" href="/auth/login">
            Log in
          </a>
          <a class="button is-dark" href="/auth/register">
            Sign up
          </a>
        </div>
      </div>
    </div>
    {{/if}}
    {{/if}}

  </div>
</nav>