<div id="cart" class="container" style="margin-top: 3rem;">
    {{#if courses.length}}
    <div class="table-container">
        <h1 class="isLeft">Корзина</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <th>{{title}}</th>
                    <th>{{current}}</th>
                    <th>{{price}}</th>
                    <th>
                        <button class="button is-danger remove" type="submit" data-id="{{_id}}"
                            data-csrf="{{@root.csrfToken}}">
                            Удалить
                        </button>
                    </th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <h1>Цена: <span id="price">{{price}}</span></h1>

    <form action="/orders" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="button is-primary">Сделать заказ</button>
    </form>
    {{else}}
    <h1>Пусто</h1>
    {{/if}}
</div>