<div id="cart">
    {{#if courses.length}}
    <table class="striped">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th>{{title}}</th>
                <th>{{current}}</th>
                <th>{{price}}</th>
                <th>
                    <button class="btn btn-danger remove" type="submit" data-id="{{_id}}">Удалить</button>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h1>Цена: <span id="price">{{price}}</span></h1>

    <form action="/orders" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="btn">Сделать заказ</button>
    </form>
    {{else}}
    <h1>Пусто</h1>
    {{/if}}
</div>