<div id="cart">
    {{#if courses.length}}
    <table class="striped">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th>{{title}}</th>
                <th>{{current}}</th>
                <th>{{price}}</th>
                <th>
                    <form action='/cart/remove/' method="POST">
                        <input type="hidden" name="id" value={{_id}}>
                        <button class="btn btn-danger remove" type="submit">Удалить</button>
                    </form>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h1>Цена: <span id="price">{{price}}</span></h1>
    {{else}}
    <h1>Пусто</h1>
    {{/if}}
</div>