<h1 class="isLeft" style="margin-top: 3rem;">Courses</h1>

{{#if courses.length}}
<div class="columns1">
    {{#each courses}}
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3" style="height: 350px;">
                    <img src="{{img}}" alt={{title}} height="100%">
                </figure>
            </div>
            <div class="card-content">
                    <div class="media-content">
                        <p class="title is-8">Название: {{title}}</p>
                        <p class="subtitle is-10">Цена: <span id="price">{{price}}</span></p>
                    </div>
                
                {{!-- <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div> --}}
            </div>
            <footer class="card-footer">
                <a class="card-footer-item button is-link is-light" href="/courses/{{id}}" target="_blank">Открыть</a>
                {{#if @root.isAuth}}
                <a class="card-footer-item button is-danger is-light" href="/courses/{{id}}/edit?allow=true">Редактировать</a>
                <form action="/cart/add" method="POST"></form>
                    <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
                    <input type="hidden" name="id" value="{{id}}">
                   <button type="submit" class="card-footer-item button is-success is-light">Добавить в корзину</button> 
                </form>
                {{/if}}
            </footer>
        </div>
    </div>
    {{/each}}
{{!-- </div> --}}
{{else}}
<p>Курсов пока нет</p>
{{/if}}