<div class="container edit">
    <h1>Ваш профиль</h1>

    <div class="row">
        <div class="col s6 main-avatar">
            {{#if user.avatarUrl}}
            <img class="avatar" src="{{user.avatarUrl}}" alt="avatar - {{user-name}}">
            {{else}}
            <p>Аватарки нет</p>
            {{/if}}
        </div>
        <form method="post" action="/profile?_csrf={{csrfToken}}" enctype="multipart/form-data">
            <label class="label">Ваше имя</label>
            <input name="name" class="input" type="text" required value="{{user.name}}">
            <label class="label">Аватар</label>
            <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="avatar">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Выберете файл
                            </span>
                        </span>
                        <span class="file-name">
                            
                        </span>
                    </label>
                </div>
            <button type="submit" class="button is-primary">Сохранить</button>
        </form>

    </div>
</div>